# User-specific files
.idea/
.vscode/
MATH/

# Windows image file caches
Thumbs.db
ehthumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

/TestFile

# .NET Core
bin/
obj/
publish/

# Ignore log files folder
Logs/
log/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vs2019/
*.vs2017/

# .NET Core Build
project.lock.json
project.fragment.lock.json
artifacts/

# JetBrains Rider
.idea/

# ASP.NET Temp folder
$tf/

# VS for Mac
.vscode/

# Npm packages
node_modules/

# Bower components
bower_components/

# .NET tools
.vscode/

appsettings.json
appsettings.Development.json

.DS_Store
.fake

Migration

HtcAPIs.csproj.lscache